<div *ngIf="!localisations.length">Aucune localisation ou adresse connue.</div>
<div class="p-grid">
    <div *ngFor="let loc of localisations" class="p-col-3">
        <p-card [header]="loc.typeLocalisationLibelle">
            <div>{{loc.ligne1}}</div>
            <div *ngIf="loc.ligne2">{{loc.ligne2}}</div>
            <div *ngIf="loc.ligne3">{{loc.ligne3}}</div>
            <div *ngIf="loc.lieuDit">{{loc.lieuDit}}</div>
            <div>{{loc.codePostal}} {{loc.localiteDestination}} ({{loc.paysLibelle}})</div>
            <p-footer>
                <div class="text-align-left">
                    Depuis le <span>{{loc.dateDebut | date:'dd/MM/yyyy'}}</span>
                    <span *ngIf="loc.dateFin">&nbsp;jusqu'au {{loc.dateFin | date:'dd/MM/yyyy'}}</span>
                    <span *ngIf="!loc.dateFin">&nbsp;jusqu'à aujourd'hui</span>
                </div>
                <div class="text-align-right">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" title="Modifier" (click)="editLocalisation(loc)"></button>
                </div>
            </p-footer>
        </p-card>
    </div>
</div>
<form (ngSubmit)="onLocalisationFormSubmit()" #localisationForm="ngForm">
    <p-dialog [(visible)]="visible" [header]="modification ? 'Modification de la localisation' : 'Nouvelle localisation'" [modal]="true"
        styleClass="p-fluid" (onHide)="onHidePopin()">
        <ng-template pTemplate="content">
            <div class="pr-4 pl-4">
                <div class="p-field">
                    <label for="ligne1">Ligne 1 *</label>
                    <input type="text" pInputText id="ligne1" name="ligne1" [(ngModel)]="localisation.ligne1" required
                    #ligne1="ngModel" />
                    <small class="p-invalid" [hidden]="ligne1.valid || ligne1.pristine">La ligne 1 est obligatoire</small>
                </div>
                <div class="p-field">
                    <label for="ligne2">Ligne 2</label>
                    <input type="text" pInputText id="ligne2" name="ligne2" [(ngModel)]="localisation.ligne2"
                    #ligne2="ngModel" />
                </div>
                <div class="p-field">
                    <label for="ligne3">Ligne 3</label>
                    <input type="text" pInputText id="ligne3" name="ligne3" [(ngModel)]="localisation.ligne3"
                    #ligne3="ngModel" />
                </div>
                <div class="p-field">
                    <label for="lieuDit">Lieu dit</label>
                    <input type="text" pInputText id="lieuDit" name="lieuDit" [(ngModel)]="localisation.lieuDit"
                    #lieuDit="ngModel" />
                </div>
                <div class="p-grid">
                    <div class="p-col-4">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="codePostal">Code postal *</label>
                                <input type="text" pInputText id="codePostal" name="codePostal" [(ngModel)]="localisation.codePostal" required
                                #codePostal="ngModel" />
                                <small class="p-invalid" [hidden]="codePostal.valid || codePostal.pristine">Le code postal est obligatoire</small>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-4">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="localiteDestination">Localité/ville *</label>
                                <input type="text" pInputText id="localiteDestination" name="localiteDestination" [(ngModel)]="localisation.localiteDestination" required
                                #localiteDestination="ngModel" />
                                <small class="p-invalid" [hidden]="localiteDestination.valid || localiteDestination.pristine">La localité/ville est obligatoire</small>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-4">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="paysCode">Pays *</label>
                                <p-dropdown [options]="refPays" [(ngModel)]="localisation.paysCode" optionLabel="libelle" optionValue="code" name="paysCode" inputId="paysCode"
                                #paysCode="ngModel" required></p-dropdown>
                                <small class="p-invalid" [hidden]="paysCode.valid || paysCode.pristine">Le pays est obligatoire</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-field">
                    <label for="typeLocalisationCode">Type de localisation *</label>
                    <p-dropdown [options]="refTypeLocalisations" [(ngModel)]="localisation.typeLocalisationCode" optionLabel="libelle" optionValue="code" name="typeLocalisationCode" inputId="typeLocalisationCode"
                    #typeLocalisationCode="ngModel" required></p-dropdown>
                    <small class="p-invalid" [hidden]="typeLocalisationCode.valid || typeLocalisationCode.pristine">Le type de localisation est obligatoire</small>
                </div>
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="dateDebut">Depuis le *</label>
                                <p-calendar [(ngModel)]="localisation.dateDebut" inputId="dateDebut" name="dateDebut" #dateDebut="ngModel" dateFormat="dd/mm/yy" required></p-calendar>
                                <small class="p-invalid" [hidden]="dateDebut.valid || dateDebut.pristine">La date de début est obligatoire</small>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="dateFin">Jusqu'au</label>
                                <p-calendar [(ngModel)]="localisation.dateFin" inputId="dateFin" name="dateFin" #dateFin="ngModel" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple type="button" label="Annuler" icon="pi pi-times"
                class="p-button-danger p-button-outlined" (click)="onPopinCancelBtnClick()"></button>
            <button pButton pRipple type="submit" label="Sauvegarder" icon="pi pi-check" class="p-button-success"
                [disabled]="!localisationForm.form.valid"></button>
        </ng-template>
    </p-dialog>
</form>