<div class="header">
    <h1>{{personne.nomUsage}} {{personne.prenomUsage}}</h1>
    <p-splitButton icon="pi pi-plus" [model]="menuItems" styleClass="p-button-success p-ml-3"></p-splitButton>
</div>

<div class="mt-3">
    <p-panel header="Informations générales" styleClass="mb-3">
        <ng-template pTemplate="icons">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" title="Modifier les informations générales"></button>
        </ng-template>
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nom">Nom</label>
                        <input type="text" pInputText disabled [value]="personne.nom" />
                    </div>
                    <div class="p-field">
                        <label for="nom">Nom d'usage</label>
                        <input type="text" pInputText disabled [value]="personne.nomUsage" />
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nom">Prénoms</label>
                        <input type="text" pInputText disabled [value]="personne.prenoms" />
                    </div>
                    <div class="p-field">
                        <label for="nom">Prénom d'usage</label>
                        <input type="text" pInputText disabled [value]="personne.prenomUsage" />
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nom">Commentaire</label>
                        <textarea pInputTextarea type="text" rows="5" pInputText disabled >{{personne.commentaire}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nom">Date de création de la fiche</label>
                        <input type="text" pInputText disabled [value]="personne.dateCreation | date:'dd/MM/yyyy HH:mm:ss'" />
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nom">Date de dernière mise à jour</label>
                        <input type="text" pInputText disabled [value]="personne.dateModification" />
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
    <p-panel header="Localisations et adresses" styleClass="mb-3">
        <app-localisation-list [localisations]="personne.localisations" [visible]="quickAddType === 'LOCALISATION'"
          [personneId]="personne.id" (onEditAddActionCompleted)="onQuickAddActionCompleted($event)"></app-localisation-list>
    </p-panel>
    <p-panel header="Moyens de contact" styleClass="mb-3">

    </p-panel>
    <p-panel header="Relations" styleClass="mb-3">

    </p-panel>
    <p-panel header="Possessions" styleClass="mb-3">

    </p-panel>
    <p-panel header="Evénements" styleClass="mb-3">

    </p-panel>
    <p-scrollTop [threshold]="200"></p-scrollTop>
</div>